Body {
    font-family: Arial, Sans-serif; /* jenis font */
    background: Linear-gradient(135deg, #e67a00, #b35101); /* background gradasi */
    text-align: center;
    margin: 0;
    padding: 0;
}

.hidden {  
    display: none;
}

/* =============== Landing Page ============= */
.landing {
    margin-top: 120px; 
}

.landing h1 {
    color:rgb(0, 0, 0)
}

.landing input {
    padding: 10px;
    font-size: 16px;
    width: 220px;
    margin: 10px;
    border-radius: 6px;
    border: none;
}

.landing button {
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer; 
    border: none;
}

/* ==========GAME========== */
.game {
    margin-top: 40px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3,100px); 
    grid-gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background: white;
    font-size: 60px; 
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

.reset {
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

/* ============== POPUP ============ */
.popup {
    position: fixed; /* tetap dilayar */
    inset: 0;
    background: rgba(181, 131, 139, 0.9);
    align-items: center;
    justify-content: center;
}

/* popup disembunyikan */
.popup.hidden {
    display: none;
}

/* popup ditampilkan */
.popup:not(.hidden) {
    display: flex;
}

.popup-box {
    background: white;
    padding: 30px;
    border-radius: 12px;
}